
.navbar {
    background-color: teal;
    padding: 10px 20px;
}

.navbar-text {
    font-weight: lighter;
}

div.absolute {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 10px;
}

div.task {
    padding: 20px;
    margin: 5px 0;
}

.task-text {
    margin-left: 20px;
}


div.form {
    display: flex;
    justify-content: space-around;
}
input[type=text] {
    width: 70%;
    padding: 15px;
    border: 1px solid teal;
    border-radius: 4px;
    margin: 10px 5px 0;
}

button {
    padding: 0 10px;
    margin: 10px 5px 0;
    background: teal;
    border: none;
    color: white;
    border-radius: 4px;
}

